body{
	font-family: 'MathJax_Main', Georgia, serif;
	background-image: url(../img/IMG3/fond.jpg);
}

/*BARRE NAVIGATION*/
.bg-white{
	border-bottom:3px solid #DFCB00;
	font-size:1.6em;
	color:black;
	letter-spacing: 0.2em;
}

li{
	margin:0.3em;
	color: black !important;
}

/*LIENS*/
a{
	color:black !important;
}

nav a:hover{
	color:#9F9A1C !important;
}

/*TITRES*/

h1{
	font-weight: bold;
	font-size:4em;
	border-bottom:3px solid #DFCB00;
	margin-top:5%;
	margin-bottom:3%;
}

h1[id^="ancre"] {
padding-top: 120px;
position: relative;
top: -120px;
margin-bottom: -100px;
}

h2{
	font-size:1em;
	font-weight: bold;
}


/*CAROUSEL*/
.zonetextcarousel{
	background-color:rgba(0,0,0,0.4);
	font-size:1.5em;
	margin-bottom: 20%;
}

.titretextcarousel{
	font-size:2em;
}

.carousel-control-prev-icon, .carousel-control-next-icon { 
    height: 6em; 
    width: 6em; 
} 

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*TEXTES*/
/*descriptions qui sont juste en dessous des h1 - nos gammes - notre histoire*/
.descriptionforte{
	font-size:2em;
	text-align:center;
}

/*SECTIONS*/


/*NOS GAMMES*/

.gamme{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
	margin:10%;
}

.imagegamme{
	height:auto;
	width:5em;
	align-self: center;
	margin-top:5%;
}

.imagegamme2{
	height:auto;
	width:10em;
	display:block;
	align-self: center;
}

.petittext{
	font-size:0.6em;
	font-weight: bold;
}

.btn{
	background-color:#DBCF00;
	font-weight: bold;
	font-size:0.8em;
	position: relative;
	z-index:1;
}

.btn:hover{
	background-color:#D6B72A;
	font-size:0.8em;
}

/*NOTRE HISTOIRE*/

.sectionpersonnage{
	background-color: transparent;
	border:none;
	margin:5%;
}

.nom{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.description{
	text-align: center;
	font-size:0.8em;
}

.photo{
	align-self:center;
	border-radius:80px;
	height:10em;
	width: 10em;
}


@media screen and (max-width: 600px){



@media screen and (max-width: 600px){
/*entête*/
	.logo{
		height:3em;
		width: auto;
	}

/*titres*/
h1{
	font-size:3em;
	text-align:center;
}

h2{
	font-size:2em;
}
/*carousel*/
	.carousel{
		margin-top:9%;
		padding-top: 10%;
	}

/*section gamme*/
	.petittext{
		font-size:1.2em;
	}

	.btn{
	font-size:1.2em;
	}

	.btn:hover{
	font-size:1.2em;
	}

/*section notre histoire*/
	.description{
		font-size: 1em;
	}
}